<!DOCTYPE html>
<html>
<head>
  <title>Concerts</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<div style = "background-color:#101010; color:#fff; width: 60%; margin: 0 20%" %>
<br>

<h1 style = "text-align:center; width: 100%">HeavyIron</h1>
<br>
</div>
</header>


<%= yield %>

<footer style = "margin: 0 20%">
	<p>© 2015 DreamTeam, Inc.
</footer>



</body>
</html>
