<div style = "background-color:#9d9d9d; width: 60%; margin: 0 20%; box-shadow: 10px 10px 5px #888888" >


<h1 style = "color: #fff; text-align: center">
Top 10
</h1>

<% i = 1 %>
<% @top_ten.each do |concert| %>

<div style = "background-color: #d1d1d1; margin: 1em 20%;">
<p style = "font-size: 3ex; text-align: center;"><b><span><%= i %>#</span>
	<%= concert.band_name %></b></p>
<p style = "text-align: center"><%= concert.likes %> likes</p>
</div>


<% i += 1%>
<% end %>



<div style = "margin: 1em 20%;">
<%= link_to "Back", concerts_path %>
</div>
<br>

</div>
